body{
    background-image: url('https://Amaneeee.github.io/coba/lucu.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 100%;
}
p, label, #iyah {
    color: black;
}
#judul{
    color: white;
}
.brot {
    margin-left: 250px;
}
input, button {
    border-radius: 5px 5px 5px 5px;
}
